/* ------------------- // ESTILOS GERAIS //------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}

header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    width: 100%;
}

header .backgroundWoman {
    z-index: 1;
    grid-row: 1 span;
    grid-column: span 2;
    position: relative;
    height: 95vh;
    background-color: black;
}

header nav {
    position: absolute;
    z-index: 10;
    grid-column: span 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    background-color: red;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

header nav img {
    height: 60%;
    padding: 0 0 0 5%;
    background-color: blueviolet;
}

.menu {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    background-color: aqua;
}


.social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 3;
    background-color: blue;
}

.produto{
    grid-column: 1;
}
.distribuidores{
    grid-column: 2;
}
.cotato{
    grid-column: 3;
}

.social-icons img{
    height: 40px;
}

.container{
    grid-row: 2;
}