/* Arquivo: style.css */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(215, 106, 158);
    background: linear-gradient(90deg, rgba(215, 106, 158, 1) 4%, rgba(95, 108, 195, 1) 100%);
    background-size: cover;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95.5vh;
}

.formulario-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(72, 36, 102, 0.1);
    padding: 7% 2%;
    width: 90%;
    max-width: 500px;
}

.formulario-container h2 {
    font-size: clamp(1.75em, 1em + 3vw, 2.5em);
    color: #423977;
    text-align: center;
    padding-bottom: 5%;
}

.formulario-contato {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px; /* Aumentando o espaço entre os campos */
}

.formulario-contato input,
.formulario-contato select,
.formulario-contato textarea {
    font-size: clamp(0.75em, 0.75em + 1.5vw, 1.3em);
    padding: 12px; /* Aumentando o padding para dar mais espaçamento dentro dos campos */
    border: 2px solid #AD7FCB;
    border-radius: 10px;
    color: #423977; /* Cor da fonte */
    width: 100%;
    box-sizing: border-box; /* Garantindo que o padding não afete o tamanho total do campo */
}

.formulario-contato textarea {
    resize: none;
    height: 150px;
}

.formulario-contato button {
    border: none;
    background-color: #AD7FCB;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: clamp(0.75em, 0.75em + 1.5vw, 1.3em);
    padding: 15px;
    width: 100%;
}

.formulario-contato button:hover {
    background-color: #8B5FBF;
}
