* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

body {
  text-align: center;
  margin-top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: transparent;
  position: absolute;
  z-index: 900;
  width: 100vw;
}

.logo {
  margin-right: 4vw;
  width: 22vw;
  height: 15vh;
  margin-left: 1vw;
}

.logo img{
  width: 20vw;
}

.container {
  display: flex;
  margin-left: 5vw;
}

.container img{
width: 2vw;
}
.container img[alt="WhatsApp"] {
  width: 2.8vw;
  margin-top: -0.3vw;
  vertical-align: middle;
  margin-left: 8vw;
}

nav {
margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  margin-top: 1.5vh;
  margin-left: 3vw;
}



nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4vw;
  margin-right: 2vw;

}



.containerOverflow{
position: relative;
overflow: hidden;
display: flex;
flex-direction: column;
}

.wrapper {
  background: #c8a9de;
  margin-top: 0;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  position: relative;
 
}

.topImage {
  margin-top: 5vh;
  margin-left: 10vw;
  position: absolute;
}

.topImage h1 {
  padding: 0;
  font-size: 24vh;
  color: #423977;
  
  text-align: left;
  margin-left: 3vw;
  margin-top: 7vh;
  text-decoration: none;
  overflow: hidden;

}

.womanTop {
  margin-top: 0;
  margin-left: 62vw;
  z-index: 0;
}
/* Container do carrossel */
.carousel{
  position: absolute;
  margin: 67vh auto;
  width: 100vw;

  z-index: 20;
}

.galleryWrapper{
  overflow-x: auto;
  margin-left: 17vw;
}

.gallery{
  display: flex;
  flex-flow: row nowrap;
  gap: 5vw;
}

.arrow-left, .arrow-right{
  position: absolute;
  top: 0;
  left: 5vw;
  right: auto;
  bottom: 0;
  font-size: 2vw;
  color: #ff6d1b;
  background-color: transparent;
  border: none;
  opacity: 0.4;
  transition: all 600ms ease-in-out; 
}

.arrow-left:hover, .arrow-right:hover{
  opacity: 1;
  cursor: pointer;
}

.arrow-right{
  left: auto;
  right: 5vw;
}

.item{
  width: 20vw;
  flex-shrink: 0;
}



.kitText{
  display: flex;
  flex-direction: row;
  margin-top: 47vh;
  margin-right: 3vw;
  
}

.kitText video {
  width: 55vw;
  height: 80vh;
  position: absolute;
}

.text{
  margin-left: 50vw;
  margin-bottom: 15vh;
  margin-right: 5vw;
  
}

.text h1{
  color: #423977;
 
  font-size: 3.4vw;
  text-align: left;
  margin-left: 4.5vw;
  margin-bottom: 4vh;
}

.text h3{
  font-weight: lighter;
  font-size: 1.7vw;
  margin: 5vh 5vw 0vh 5vw;
  text-align: justify;
}

.divisor{
  margin-top: 5vh;
}

.divisor img{
  width: 100%;
  height: 17vh;
}

.growth{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.growth h1{
  color: #423977;
 
  font-size: 3vw;

}

.containerGrowth{
  display: flex;
  flex-direction: row;
  margin-left: 15vw;
}

.containerGrowth h3{
text-align: justify;
font-weight: lighter;
margin-right: 5vw;
margin-left: 5vw;
margin-top: 5vh;
font-size: 1.5vw;
padding-top: 1%;
}

.containerGrowth img{
  width: 150vw;
  margin-right: 10vw;
  
}

.emphasis{
  background-color: #ff5d1b;
  padding: 0;
  margin:0;
  border-radius: 30px;
}

.benefitsText{
  background: rgb(119,49,216);
  background: linear-gradient(280deg, rgba(119,49,216,1) 0%, rgba(231,219,255,1) 99%);
  color: #ffffff;
 
}

.benefitsText h1{
  font-size: 3.5vw;
  padding: 2vh;
}


.benefitsWrapper {
  display: flex;
  justify-content: space-between; /* Espaçamento uniforme entre colunas */
  margin: 10vh auto; /* Centraliza horizontalmente e adiciona margem vertical */
  width: 80%; /* Largura máxima da seção */
}

.column {
  flex: 1;
  margin: 0 10px; /* Espaçamento horizontal entre colunas */
  padding-top: 7vh;
}

.benefitsContainer {
  display: flex;
  align-items: center; /* Alinha itens verticalmente ao centro */
  margin-bottom: 20px; /* Espaçamento entre os itens */
  flex-direction: column;
}

.benefitsContainer img {
  margin-right: 15px; /* Espaçamento entre a imagem e o texto */

}

.benefitsContainer h3{
  margin-top: 2vh;
  font-weight: lighter;
  color: #7b4aa8;
  
}

.benefitsWrapper > img {
  margin-left: 5vw;
  max-width: 100%; /* Garante que a imagem não exceda a largura do container */
  height: auto; /* Mantém a proporção da imagem */
  
}


.imgBackground{
  background: rgb(123,74,168);
  background: linear-gradient(90deg, rgba(123,74,168,1) 0%, rgba(160,102,201,1) 100%);
  display: flex;
  position: relative;
}

.imgBackground img{
  height: 75vh;
  width: 80vw;
  z-index: 900;

}

.imgBackground h1{
  z-index: 1;
  font-size: 13vw;
  position: absolute;

  margin-left: 3vw;
  margin-top: 5vh;
  text-align: left;
  color: #423977;
}

.imgBackground h2{
  color: #c8a9de;
  font-size: 3.5vw;
  text-align: center;
  margin-left: 6vw;
  margin-top: 15vh;
  z-index: 800;
}

.aboutUsContainer {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.aboutUsContainer input {
  width: 35vw;
  height: 8vh;
  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 30px;
  color: #ffffff;
  padding-left: 1vw;
  font-size: medium;
}

.aboutUsContainer input:focus {
  outline: none;
}

.aboutUsContainer input::placeholder {
  color: #ffffff;
}

.aboutUsContainer button {
  height: 8vh;
  width: 12vw;
  background-color: #ff5d1b;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  
  font-size: medium;
  transition:0.3s ease-in-out;
  margin-left: 24vw;
  position: absolute;
}

.aboutUsContainer button:hover {
  cursor: pointer;
  background-color: #e04a12;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .aboutUsContainer {
    flex-direction: column;
    align-items: center;
  }

  .aboutUsContainer input {
    width: 80vw;
    margin-left: 0;
  }

  .aboutUsContainer button {
    width: 50vw;
    margin-left: 0;
  }
}

/* Classe para acessibilidade */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}


.redes-sociais {
  margin-top: 5vh;
  text-align: center;
  color: #423977;
  font-size: 2.5vw;
}

.redes-sociais h4 {
  color: #000;
  font-size: 1.2vw;
}

.instagram-feed {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.crt-logo {
  color: transparent;
}

#curator-feed-default-feed-layout {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}

.crt-logo {
  display: none !important;
}

.crt-grid-post-content{
  overflow: hidden;

}
.crt-post-hover {
  display: none !important;
}


footer {
  margin-top: 8vh;
  background: rgb(103,61,140);
  background: linear-gradient(282deg, rgba(103,61,140,1) 0%, rgba(186,148,214,1) 100%);
}

html {
  scroll-behavior: smooth;
}

footer h1{

  font-size: 4.5vw;
  color: #ffffff;
  margin-left: 0;
  margin-bottom: 10vh;
}
footer h3{
  color: #ffffff;
  font-size: 4vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}



.footerWrapper a{
text-decoration: none;
color: #ffffff;
}

.footerWrapper{
  display: flex;
  margin-left: 15vw;
  margin-bottom: 15vh;
}

.footerWrapper img{
  width: 20vw;
  scroll-behavior: smooth;
}

.distribuidores{
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: left;
  justify-content: space-between;
}

.contacts {
list-style: none;
padding: 0;
display: flex;
flex-direction: column;
gap: 8px;
}

.contacts li {
display: flex;
align-items: center;
}

.contacts a {
display: flex;
align-items: center;
gap: 8px; /* Espaço entre o ícone e o texto */
font-size: 16px;
color: white;
text-decoration: none;
}

.contacts a:hover {
color: #ddd; /* Efeito hover */
}

.contacts i {
font-size: 18px; /* Tamanho dos ícones */
color: white;
}

.contacts img {
width: 2.5vw;
}

.centerImg{
  padding-top: 3vh;
}

.bottonImg{
  padding-top: 5vh;
}